* {
    padding: 0;
    border: none;
}

body{
    background-color: #b2bec3;
    font-family: 'Indie Flower', cursive;
    width: 100%;
}
html,body{overflow: hidden; height: 100%;}

.img{
    height: 200px;
    position: relative;
}

.container{
    left: 32%;
    top: 30%;
    position: relative;
    height: 200px;
    width: 700px;
    border-radius: 60px;
}

h1{font-size: 50px; padding-left: 27%;}

p{font-size: 20px; padding-left: 29%;}

.text{
    position: relative;
    top: -100%;
}